<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Canvas - Expense Tracker</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <div class="sidebar">
	<div class="logo">
		<p class="logo-text">Coin Canvas</p>
	</div>
	<ul class="menu">
		<a href="">
			Dashboard
		</a>
		<br>
        <a href="">{{username}}</a>
		<a href="">
			Analysis
		</a>
		<a href="">
			Stocks
		</a>
		<a href="">
			Crypto
		</a>
		<a href="">
			Daily
		</a>
        <div class="sidebar-buttons">
			<a href="/addExpense"><button>Add Expense</button></a>
			<a href="/logout"><button>Logout</button></a>
        </div>
	</ul>
    </div>
</body>
</html>