<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coin Canvas - Expense Tracker</title>
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body>
    <div class="sidebar">
	<h1 class="logo"><a href="#">Coin Canvas</a></h1>
	<ul class="menu">
		<a href="">
			Dashboard
		</a>
		<br>
		<a href="">
			Analysis
		</a>
		<a href="">
			Daily
		</a>
        <div class="sidebar-buttons">
		<button>Add Expense</button>
        <button>Logout</button>
        </div>
	</ul>
    </div>
</body>
</html>
