<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/x-icon" href="images/expenses.png">
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}
        <div class="content">
            <div class="desc">
                <p>Welcome to Coin Canvas</p>
                <h1>An expense tracker that works for you.</h1>
                <a href="/login">
                    <button>Check Now!</button>
                </a>
            </div>
            <div class="image">
                <img src="/images/coin-canvas.png" width="500">
            </div>
        </div>
    {{>footer}}
</body>
</html>