<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
	<link rel="icon" type="image/x-icon" href="images/expenses.png">
</head>
<body>
    {{>navbar}}
	<div class="container" id="container">
		<div class="form-container" id="login-form">
		<h1>Login</h1>
		<form action="login" method="POST">
			<label for="username">Email</label>
			<input type="text" id="email" name="email" required>
			<label for="password">Password</label>
			<input type="password" id="pass" name="pass" required>
			<button type="submit">Login</button>
		</form>
		<p>Don't have an account? <a href="/register" id="signup-link">Sign up</a></p>
		</div>
</div>
    {{!-- {{>footer}} --}}
</body>
</html>