<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
</head>
<body>
    {{>navbar}}
<!-- main header -->
<div class="container" id="container">
    <div class="form-container" id="signup-form">
		<h1>Sign Up</h1>
		<form action="register" method="POST">
			<label for="new-username">Username</label>
			<input type="text" id="name" name="name" required>
			<label for="new-email">Email</label>
			<input type="email" id="email" name="email" required>
            <label for="contact">Contact No</label>
            <input type="text" id="contact" name="contact">
			<label for="new-password">Password</label>
			<input type="password" id="pass" name="pass" required>
            <label for="c-password">Confirm Password</label>
            <input type="password" id="cpass" name="cpass" required>

			<button type="submit">Sign Up</button>
		</form>
		<p>Already have an account? <a href="login" id="login-link">Login</a></p>
	</div>
</div>
{{!-- {{>footer}} --}}
</body>
</html>