:root {
    --accent-color: #a876aa;
    --main-transition: all 0.3s ease-in-out;
    --primary-color:black;
    --secondary-color:white;
  }
.overall
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2rem;
}
.datashow
{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}
.upper
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.datacontent
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    height: 5rem;
    width: 30%;
    background: var(--accent-color);
    border-radius: 20px;
    text-transform: uppercase;
}

.sidebar a{
    transition: var(--main-transition);
}

.sidebar a:hover{
    color: var(--accent-color);
}

button{
    background: #191919;
    font-size: medium;
    border:none;
    border-radius:5px;
    padding:10px 36px;
    cursor: pointer;
    color: white;
    margin-top: 20px;
    transition: background-color 0.2s ease-in-out;
}
.chart2
{
    height: 300px;
}
.images
{
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}
.heading
{
    text-align: center;
}
/* .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
} */

/* Style the form inside the pop-up */
/* .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
} */

/* Style the submit button */
/* .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
} */

/* Add a red background color to the cancel button */
/* .cancel {
    background-color: red;
} */

/* Add some hover effects to buttons */
/* .btn:hover, .open-button:hover {
    opacity: 0.8;
} */

/*addExpense*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
  
  header {
    background: #80CBC4;
    height: 15vh;
  }
  
  main {
    display: flex;
    height: 100%;
  }
  
  nav {
    flex: 1;
    background: #FFAB00;
  }
  
  article {
    flex: 3;
    background: #ffd54f;
  }
  
  aside {
    flex: 2;
    background: #FFF176;
  }
  
  footer {
    background: #26A69A;
    height: 20vh;
  }
  
  header,
  footer,
  article,
  nav,
  aside {
    padding: 1em;
  }
.heading
{
    text-align: center;
}
