:root {
    --accent-color: #a876aa;
    --main-transition: all 0.3s ease-in-out;
    --primary-color:black;
    --secondary-color:white;
  }
.overall
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2rem;
}
.datashow
{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
}
.upper
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.datacontent
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    height: 5rem;
    width: 30%;
    background: var(--accent-color);
    border-radius: 20px;
    text-transform: uppercase;
}
.lower
{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.chart1
{
    height: 200px;
    width: 400px;
}
.chart2
{
    height: 300px;
}
.images
{
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
}
.heading
{
    text-align: center;
}